.left-column img {
  width: 100%;
}
.right-column {
  padding: 60px;
  margin: 0px auto;
}
.card {
  background: transparent;
  border: none;
}

@media (max-width: 525px) {
  .right-column {
    padding: 20px;
  }
}
